
.roboto {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  color: rgba(94, 99, 102, 1);
  font-variation-settings:
    "wdth" 100;
}
.text-color{
    color: rgba(120, 120, 133, 1);
}
.inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}
.manrope{
  font-family: "Manrope", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}

.poppins-regular {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.poppins-medium {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.poppins-semibold {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.poppins-bold {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.poppins-extrabold {
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-style: normal;
}

/* // shared style// */
.font-reg{
    font-size: 24px;
}
.font-medium{
    font-size: 14px;
}
.flex{
    display: flex;
}

.button-primary{
    font-size: 16px;
    padding: 10px 24px;
    background-color: rgba(224, 44, 109, 1);
    color: white;
    /* border-radius: 41px; */
    border: none;
}

/* // style start// */
.nav-color{
    color: rgba(58, 58, 58, 1);
}
.nav-list {
    font-size: 16px;
    justify-content: space-around;
}
.nav-list a{
    text-decoration: none;
    color: rgba(58, 58, 58, 1);
}

.navbar{
    justify-content: space-around;
    align-items: center;
}

.icon-fa{
    padding-top: 5px;
    
}

.icon-faw{
    padding-top: 5px;
    padding-left: 30px;
}

.list-item{
    list-style: none;
    margin-right: 34px;

}

/* ///banner section style/// */

.banner-color{
    color: rgba(58, 58, 58, 1);
    
}

.banner-title{
    font-size: 52px;
}

.banner-text{
    font-size: 16px;
}
.banner-mom{
    align-items: center;
    justify-content: center;
    margin-top: 145px;
}

/* ///logo section style/// */

.logo-section{
    justify-content: center;
    gap: 61px;
    padding: 40px 0px;
    margin-top: 140px
}

/* ///  studio Collection title/// */

.studio-color{
    color: rgba(24, 25, 31, 1);
}

.money-color{
    color: rgba(0, 0, 0, 0.87);
}

.studio-collection{
    margin: 196px;
    justify-content: center;
    align-items: center;

}

.Collection-title{
    font-size: 28px;
    text-align: center;
    /* align-items: center; */
}

.card-mom{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    justify-content: center;
    align-items: center;
}

.card{
    padding: 17px 14px;
    border: 1px solid rgba(34, 31, 31, 0.278);
    box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.15);
    margin: 30px;
}

/* //Advertize section // */

.btn{
    border-radius: none;
    color: white;
}
.adv-mom{
    justify-content: center;
}

.adv-boss{
    justify-content: center;
    gap: 96px;
}

.adv-text{
    font-size: 16px;
    color: rgba(108, 108, 108, 1);
}

.adv-title{
    font-size: 38px;
    
}

/* ///footer section style /// */

.pokemon{
    background-color: rgba(10, 8, 38, 1);
    color: rgba(255, 255, 255, 1);
    margin-top: 145px;
}

.design{
    justify-content: center;
    text-align: center;
    padding: 50px 589px;
    
}

.footer-h3{
    font-size: 24px;
}

.footer-p1{
    font-size: 14px;
}

.icons img{
    height: 8%;
    width: 8%;
    filter: grayscale(100%);
}